/* 使用CSS变量来定义颜色和间距 */
:root {
  --primary-color: rgb(188, 0, 0);
  --primary-color-hover: rgb(224, 0, 0);
  --primary-color-active: rgb(255, 0, 0);
  --secondary-color: rgb(17, 17, 17);
  --secondary-color-hover: rgb(36, 36, 36);
  --background-color: rgb(255, 255, 255);
  --font-size: 16px;
  --text-color: rgb(17, 17, 17);
  --spacing: 12px;
  --vh: 100vh;
}

body {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: var(--font-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  position: absolute;
}

p {
  margin: 4px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--background-color);
  padding: var(--spacing);
  text-align: center;
}

main {
  padding: var(--spacing);
}

#mm {
  width: 1mm;
  height: 1mm;
  position: absolute;
  visibility: hidden;
  background-color: black;
}

#SVG-renderer {
  width: 50vw;
  height: calc(var(--vh, 1vh) * 93);
  overflow: scroll;
  display: flex;
  background-color: var(--background-color);
  justify-content: start;
  position: absolute;
  z-index: 0;
}

#SVG-renderer svg {
  margin: 20px 0;
}

#SVG-renderer .circle {
  background-color: var(--secondary-color);
}

#form-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: scroll;
  padding: calc(var(--vh, 1vh) * 5) 0;
  height: calc(var(--vh, 1vh) * 83);
  box-shadow: 0px 0px 20px 0px black;
  position: absolute;
  right: -100vw;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 2s;
}

#title {
  width: fit-content;
  height: fit-content;
  padding-left: 16vw;
  padding-top: 10vh;
  font-size: 2rem;
  font-weight: 900;
  transition: linear opacity 2s, linear left 2s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: white;
}

#ruler-form {
  margin: 0 10%;
  width: 100%;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: var(--spacing);
  margin: var(--spacing) 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="color"] {
  width: 20%;
  padding: 0;
}

input[type="range"] {
  padding: 0;
  margin: 0;
}

label {
  display: block;
  margin: var(--spacing) 0 0 0;
}

#SVG-renderer-operations {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 7);
  position: fixed;
  bottom: 0;
  z-index: 20;
}

button {
  width: 100vw;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
  box-sizing: border-box;
  position: absolute;
  bottom: -100%;
  transition: background-color 0.3s, bottom ease-in-out 1s;
  user-select: none;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:active {
  background-color: var(--primary-color);
}

button.black {
  background-color: var(--secondary-color);
}

button.black:hover {
  background-color: var(--secondary-color-hover);
}
